@model List<Rated.Models.Project.ProjectViewModel>
@using Rated.Core.Shared

<table class="table table-striped">
    <thead>
        <tr>
            @*<th width="70px"></th>*@
            <th width="55%">Project</th>
            <th>Modified</th>
            <th>Status</th>
            <th>Rating</th>
            <th width="80px"></th>
        </tr>
    </thead>
    
    @foreach (var project in Model)
    {
        var statusId = (int)project.ProjectStatus;
        <tr>
            @*<td>
                <button class="btn btn-link" onclick="window.location='/Project/Edit/@project.ProjectId/?ProjectStatusId=@statusId'">
                    <span class="glyphicon glyphicon-edit">
                    </span> Edit
                </button>
                
            </td>*@
            <td>
                <b>
                    <a href="#" onclick="window.location='/Project/Edit/@project.ProjectId/?ProjectStatusId=@statusId'">
                        @project.ProjectName
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </b>
                <br />
                @project.ProjectDescription
            </td>
            <td width="100px">
                @project.ModifiedDate
            </td>
            <td>
                @Rated.Core.Shared.EnumHelper.GetDescription(project.ProjectStatus)
            </td>
            <td>
                @project.ProjectRating
            </td>
            <td>
                
                <button class="btn btn-link" onclick="window.location='/Project/Edit/@project.ProjectId'">
                    <span class="glyphicon glyphicon-trash">
                    </span> Delete
                </button>
            </td>
        </tr>
    }
</table>