@model Rated.Models.Project.ProjectViewModel
@using Rated.Core.Shared;

<h2>
    @if (Model.ProjectStatus == Enums.ProjectStatus.Draft)
    {
        <span>Edit Project</span>
    }

    @if (Model.ProjectStatus == Enums.ProjectStatus.ReviewerPendingAcceptance)
    {
        <span>Waiting for Reviewer</span>
    }
</h2>

<div class="alert alert-info">
    <b>Project Status:</b> @Rated.Core.Shared.EnumHelper.GetDescription(Model.ProjectStatus)

    &nbsp;&nbsp;

    @switch (Model.ProjectStatus)
    {
        case Enums.ProjectStatus.ReviewerPendingAcceptance:
            <button class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Cancel Project
            </button>
            break;
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th width="70px"></th>
            <th width="75%">Project</th>
            <th width="110px">Modified</th>
            <th width="70px"></th>
        </tr>
    </thead>
    <tr>
        <td>
            @if (Model.ProjectStatus == Enums.ProjectStatus.Draft)
            {
                <button class="btn btn-link">
                    <span class="glyphicon glyphicon-edit">
                    </span> Edit
                </button>

            }
        </td>
        <td>
            <div id="divProjectName">
                <b>@Html.DisplayFor(x => x.ProjectName)</b>
            </div>

            <div id="divProjectDescription">
                @Html.DisplayFor(x => x.ProjectDescription)
            </div>
        </td>
        <td>
            @Html.DisplayFor(x => x.ModifiedDate)
        </td>
        <td>
            @if (Model.ProjectStatus == Enums.ProjectStatus.Draft)
            {

                <button class="btn btn-link">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            }
        </td>
    </tr>
</table>

<hr />

@if (Model.ProjectStatus != Enums.ProjectStatus.Done)
{
    <h4>
        Tasks (<span id="spanItemDetailCount">@Model.Tasks.Count()</span>)
    </h4>
        <button class="btn btn-default" onclick="Project.ShowAddDetail()">
            <span class="glyphicon glyphicon-plus"></span> Add Task
        </button>
        <button class="btn btn-default" id="btnAssignReviewer">
            <span class=" glyphicon glyphicon-user">
            </span> Assign One Reviewer to all Tasks
        </button>
    
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th width="30%">Detail</th>
            <th>Hours</th>
            <th>Modified</th>
            <th>Status</th>
            <th width="200px">Reviewer</th>
            <th width="200px">Rating</th>
            <th width="70px"></th>
        </tr>
    </thead>
    @{
        var lineItemNo = 1;
        foreach (var task in Model.Tasks)
        {
            <tr>
                <td>
                    @lineItemNo
                </td>
                <td>
                    @if (task.DetailStatus == Enums.TaskStatus.Draft)
                    {
                        <b>
                            <a href="#" onclick="Project.ShowEditDetail('@task.TaskId', '@task.Name', '@task.Description', '@task.HoursToComplete', '@task.ReviewInstructions')">
                                @task.Name
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>

                        </b>
                    }
                    else
                    {
                        <b>
                            @task.Name
                        </b>
                    }

                    <br />
                    @task.Description
                </td>
                <td>
                    @Convert.ToDouble(task.HoursToComplete)
                </td>
                <td width="100px">
                    @task.ModifiedDate
                </td>
                <td>
                    @Rated.Core.Shared.EnumHelper.GetDescription(task.DetailStatus)
                </td>
                <td>
                    @switch (task.DetailStatus)
                    {
                        case Enums.TaskStatus.Draft:
                            <button class="btn btn-default" onclick="Project.AssignDetailReviewer('@task.TaskId')">
                                <span class="glyphicon glyphicon-user"></span> Assign Reviewer
                            </button>
                            break;
                        case Enums.TaskStatus.ReviewerPendingAcceptance:
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-remove"></span>
                                Cancel Review Request for: <br /> @task.ReviewerFullName
                            </button>
                            break;
                        case Enums.TaskStatus.OwnerInProgressWorkingOnProject:
                        case Enums.TaskStatus.ReviewerInProgressReviewingDetail:
                        case Enums.TaskStatus.Done:
                            <span>
                                @task.ReviewerFullName
                            </span>
                            break;
                    }



                </td>
                <td>
                    @if (task.DetailStatus == Enums.TaskStatus.Done)
                    {
                        @task.Rating
                    }
                </td>

                <td>
                    @switch (task.DetailStatus)
                    {
                        case Enums.TaskStatus.OwnerInProgressWorkingOnProject:
                            <button class="btn btn-success" style="width:160px" onclick="Project.ConfirmProjectDetailComplete('@task.TaskId')">
                                <span class="glyphicon glyphicon-ok-sign"></span> Task is Complete
                            </button>

                            <div style="height:7px">&nbsp;</div>

                            <button class="btn btn-danger" style="width:160px">
                                <span class="glyphicon glyphicon-remove-sign"></span> Cancel this Task
                            </button>
                            break;
                    }


                    @if (task.DetailStatus == Enums.TaskStatus.Draft)
                    {
                        <button class="btn btn-link" onclick="Project.DeleteDetail('@task.ProjectId', '@task.TaskId')">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    }

                </td>

            </tr>
            lineItemNo++;
        }
    }
</table>
<input type="hidden" id="TotalDetailCount" name="TotalDetailCount" value="@lineItemNo">

<script language="javascript">
    var openAddProjectModal = @ViewBag.OpenAddProjectModal;
</script>

<script src="~/Scripts/Rated/project.js"></script>

@Html.Partial("_ModalCompleteDetail")
@Html.Partial("_ModalAddProject")
@Html.Partial("_ModalAddItem")
@Html.Partial("_ModalStartProject")
@Html.Partial("_ModalAssignReviewer", @Model)

@Html.HiddenFor(x => x.ProjectId)
@Html.HiddenFor(x => x.ProjectStatus)
<input type="hidden" id="DetailItemNumber" name="DetailItemNumber">
<input type="hidden" id="TaskId" name="TaskId">
