@model Rated2.Models.Project.ProjectViewModel

@using Rated.Core.Shared;

@{
    ViewBag.Title = "Index";
}

<h2>Start a Project</h2>

<div style="background-color:ghostwhite; padding:15px">
    <ul class="nav nav-pills">
        <li>
            <a style="color:#333; font-size:15px">
                <span class="glyphicon glyphicon-edit">
                </span> Edit
            </a>
        </li>
        <li>
            <a style="color:#333; font-size:15px">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
        </li>
    </ul>

    <div id="divProjectName">
        <span style="font-size:25px; font-weight:bold">
            @Html.DisplayFor(x => x.ProjectName)
        </span>
    </div>

    <div id="divProjectDescription">
        <span style="font-size:18px">
            @Html.DisplayFor(x => x.ProjectDescription)
        </span>
    </div>
</div>


<hr />

<button class="btn btn-primary" onclick="Project.ShowAddDetail()">+ Add Items</button>
<button class="btn btn-primary" id="btnAssignReviewer">+ Assign Reviewer</button>
<button class="btn btn-success" id="btnStartTheProject">Start the Project</button>

<hr />

<h4>Project Items (<span id="spanItemDetailCount">@Model.ProjectDetails.Count()</span>)</h4>

<table id="tblItems" cellpadding="5" cellspacing="5">
    <tr>
        <td></td>
        <td></td>
    </tr>
    @{
        var rowCount = 1;
        foreach (var detail in Model.ProjectDetails)
        {

            <tr>
                <td width="73px" align="center" style="background-color:coral">
                    <span style="font-size:20px; font-weight:normal">@rowCount.</span>
                </td>
                <td width="103px" align="center" style="background-color:aquamarine">
                    <span style="font-size:25px; font-weight:normal">@Convert.ToDouble(detail.HoursToComplete)</span>
                    <br />
                    Hours to Complete
                </td>
                <td style="background-color:ghostwhite">

                    <ul class="nav nav-pills">
                        <li>
                            <a style="color:#333; font-size:15px" onclick="Project.ShowEditDetail('@detail.ProjectDetailId', '@detail.DetailName', '@detail.DetailDescription', '@detail.HoursToComplete')">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                        </li>
                        <li>
                            <a style="color:#333; font-size:15px" onclick="Project.DeleteDetail('@detail.ProjectId', '@detail.ProjectDetailId')">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </li>
                    </ul>

                    <div style="padding:10px;">
                        <p>
                            <span style="font-size:25px; font-weight:bold">
                                @detail.DetailName
                            </span>
                        </p>
                        <p>
                            <span style="font-size:18px">
                                @detail.DetailDescription
                            </span>
                        </p>

                        <span style="color:AppWorkspace">
                            Modified @detail.ModifiedDate
                        </span>
                    </div>
                </td>
                <td nowrap valign="top" style="background-color:#c9c9c9">
                    <div style="padding:25px;">

                        @if (detail.ReviewerStatusId != (int)Enums.ProjectReviewerStatus.Accepted)
                        {
                            <p>
                                Waiting for Approver:
                                <br />
                                @detail.ReviewerFullName
                                <br />
                                <br />

                                <button class="btn btn-danger">Remove Approver</button>
                            </p>
                        }
                        else
                        {
                            <p>
                                Approver: @detail.ReviewerFullName
                            </p>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:3px">&nbsp;</td>
            </tr>

            @*<tr id="tr_@detail.ProjectDetailId">
                    <td style='background-color:#f9f9f9;width:5px'>@rowCount.ToString()</td>
                    <td valign='top'>
                        <span id="span_projectDetailName_@detail.ProjectDetailId" style="font-size:17px; font-weight:bold">@detail.DetailName</span>
                        <br />
                        <span id="span_projectDetailDescription_@detail.ProjectDetailId">@detail.DetailDescription</span>
                        <br />
                        <span id="span_hoursToComplete_@detail.ProjectDetailId">@Convert.ToDouble(detail.HoursToComplete) hours to complete</span>
                        <br />
                        <br />
                        Created: @detail.CreatedDate
                        <br />
                        Modified: @detail.ModifiedDate
                        <br />
                        <a onclick="Project.ShowEditDetail('@detail.ProjectDetailId', '@detail.DetailName', '@detail.DetailDescription', '@detail.HoursToComplete')">Edit</a>
                        |
                        <a onclick="Project.DeleteDetail('@detail.ProjectId', '@detail.ProjectDetailId')">Delete</a>
                    </td>
                </tr>
                <tr><td colspan='3' style='height:3px'></td></tr>*@
            rowCount++;
        } // foreach

        <input type="hidden" id="TotalDetailCount" name="TotalDetailCount" value="@rowCount">
    }
</table>



<div id="modalAddProject" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a New Project</h4>
            </div>
            <div class="modal-body">
                <p>


                    <div class="editor-field">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" name="ProjectName" id="ProjectName" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><textarea name="ProjectDescription" id="ProjectDescription" class="form-control"></textarea></td>
                            </tr>
                        </table>
                    </div>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal" onclick="Project.CancelSaveProject()">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSaveProject" onclick="Project.SaveProject()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modalAddItem" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Project Items</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="editor-field">
                        <label>Item name</label>
                        <br />
                        <input type="text" class="form-control" id="ProjectDetailName" name="ProjectDetailName" />

                        <label>Item description</label>
                        <br />
                        <textarea class="form-control" id="ProjectDetailDescription" name="ProjectDetailDescription"></textarea>

                        <label>Time to complete</label>
                        <br />
                        <input type="text" class="form-control" id="HoursToComplete" name="HoursToComplete" />
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAddToProject">Add to Project</button>
            </div>
        </div>
    </div>
</div>

<div id="modalAssignReviewer" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Assign Reviewer</h4>
            </div>
            <div class="modal-body">
                <p>
                    Enter the email address of the person who will evaluate your work.
                    We will contact this person and notify you when your request has
                    been accepted.

                    <div class="editor-field">
                        @Html.LabelFor(x => x.ReviewerEmail)
                        @Html.TextBoxFor(x => x.ReviewerEmail, new { @class = "form-control" })
                    </div>

                    <br />
                    <label>Pick your relationship with the reviewer.</label>

                    <div class="editor-field">
                        <select class="form-control">
                            <option>--Pick One--</option>
                            <option>Manager</option>
                            <option>Supervisor</option>
                            <option>Supervisor</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <br />
                    <label>Describe the reviewer's role.</label>
                    <textarea class="form-control" id="txtItemDetails"></textarea>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="Project.AssignReviewer()">Assign Reviewer</button>
            </div>
        </div>
    </div>
</div>

<div id="modalStartTheProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Start the Project</h4>
            </div>
            <div class="modal-body">
                <p>
                    Congratulations! You are ready to start on this project. Remember, dhanges are not allowed
                    until you say the project is complete.
                </p>
                <p>Good luck!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Start</button>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    var openAddProjectModal = @ViewBag.OpenAddProjectModal;
</script>

<script src="~/Scripts/Rated/project.js"></script>

@Html.HiddenFor(x => x.ProjectId)
<input type="hidden" id="DetailItemNumber" name="DetailItemNumber">
<input type="hidden" id="ProjectDetailId" name="ProjectDetailId">