@model List<Rated2.Models.Project.ProjectViewModel>



<br />

@using Rated.Core.Shared

<table class="table table-striped">
    <thead>
        <tr>
            @*<th width="70px"></th>*@
            <th width="55%">Project</th>
            <th>Owner</th>
            <th>Modified</th>
            <th>Status</th>
        </tr>
    </thead>

    @foreach (var project in Model)
    {
        var statusId = project.ProjectStatus;

        //if (ViewBag.ReviewerProjectStatus != null)
        //{
        //    statusId = ViewBag.ReviewerProjectStatus;
        //}

        <tr>
            @*<td>
                    <button class="btn btn-link" onclick="window.location='/Review/Edit/@project.ProjectId?psid=@project.ProjectStatus'">
                        <span class="glyphicon glyphicon-list"></span>
                        View
                    </button>
                </td>*@
            <td>
                <b>
                    @*<a href="#" onclick="window.location='/Review/Edit/@project.ProjectId?psid=@project.ProjectStatus'">
                        @project.ProjectName
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>*@

                    <a href="#" onclick="window.location='/Review/Edit/@project.ProjectId?psid=@ViewBag.ReviewerProjectStatus'">
                        @project.ProjectName
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </b>
                <br />
                @project.ProjectDescription
            </td>
            <td>
                @project.OwnerFirstName @project.OwnerLastName
            </td>
            <td width="100px">
                @project.ModifiedDate
            </td>
            <td>
                @Rated.Core.Shared.EnumHelper.GetDescription(project.ProjectStatus)
            </td>
        </tr>
    }
</table>





<script src="~/Scripts/Rated/project.js"></script>