@model Rated2.Models.UserProfileViewModel

@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:20px">
    <span style="font-size:25px;">@Html.ValueFor(x => x.Profile.FullName)</span>
    @Html.ActionLink("Edit", "EditAccount", "UserProfile")
</div>



@Html.LabelFor(x => x.Profile.Score):
@Html.ValueFor(x => x.Profile.Score)
<br />

@Html.ValueFor(x => x.Profile.Bio) 

<hr />

@Html.ActionLink("+ Start a Project", "StartProject", "Project", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Unsent Projects (5)", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.UnSent }, new { @class = "btn btn-primary" })

@Html.ActionLink("Ongoing Projects (3)", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.OnGoing }, new { @class = "btn btn-primary" })

<hr />

<h4>Completed Projects (7)</h4>
    
@foreach (var project in @Model.Projects)
{
    <b>@project.Name</b><button class="btn btn-link" onclick="window.location='/project/index'">View</button>
    <br />
    <b>Score:</b> @project.Score
    <br />
    <i>@project.Description</i>
    <br />
    <br />
}

<a href="#">View All</a>