@model Rated2.Models.UserProfileViewModel

@{
    ViewBag.Title = "Home Page";
}

<div style="padding-top:20px">
    <span style="font-size:25px;">@Html.ValueFor(x => x.Profile.FullName)</span>

    <button class="btn btn-link" onclick="window.location = 'UserProfile/EditAccount'">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
</div>



@Html.LabelFor(x => x.Profile.Score):
@Html.ValueFor(x => x.Profile.Score)
<br />

@Html.ValueFor(x => x.Profile.Bio) 

@*<hr />
@Html.ActionLink("+ Start a Project", "StartProject", "Project", null, new { @class = "btn btn-primary" })
<br />
<br />*@

@*<div style="background-color:aliceblue; padding:40px">
    <table width="100%">
        <tr>
            <td width="25%" align="center" style="border-right:solid 1px #c0c0c0">
                Draft Projects
                <br />
                <span style="font-size:35px">5</span>
                <br />
                @Html.ActionLink("Draft", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.Draft }, new { @class = "btn btn-primary", @style = "width:125px" })
            </td>

            <td width="25%" align="center" style="border-right:solid 1px #c0c0c0">
                Waiting for Approvers
                <br />
                <span style="font-size:35px">3</span>
                <br />
                @Html.ActionLink("Waiting", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.WaitingApproverAcceptance }, new { @class = "btn btn-primary", @style = "width:125px" })
            </td>


            <td width="25%" align="center" style="border-right:solid 1px #c0c0c0">
                In Progress Projects
                <br />
                <span style="font-size:35px">3</span>
                <br />
                @Html.ActionLink("In Progress", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.InProgress }, new { @class = "btn btn-primary", @style = "width:125px" })
            </td>
            <td width="25%" align="center">
                Needs Review
                <br />
                <span style="font-size:35px">0</span>
                <br />
                @Html.ActionLink("Review", "Index", "Project", new { projectType = Rated.Core.Shared.Enums.ProjectStatus.Review }, new { @class = "btn btn-primary", @style = "width:125px" })
            </td>
        </tr>
    </table>
</div>*@



