@model Rated2.Models.UserProfile.ProfileViewModel

@{
    ViewBag.Title = "Create an Account";
}

<h2>Create an Account</h2>

@if (!ViewBag.UserCreated)
{
    using (Html.BeginForm("CreateAccount", "UserProfile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UserPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Bio, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Bio, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Bio, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <input type="submit" value="Create Account" class="btn btn-primary" />
    }
}
else
{
    <p>
        Your account was successfully created! Click continue to log in.
    </p>

    <a href="/userprofile/login" class="btn btn-success">Continue</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


