@model List<Rated.Models.Project.ProjectViewModel>

@{ 
    var userProfile = (Rated.Core.Models.User.UserCoreModel)ViewBag.UserProfile;
}

<a href="#" class="btn btn-default" onclick="window.location='/SearchPeople'">
    <span class="glyphicon glyphicon-arrow-left"></span>
    &nbsp;
    Back to search
</a>

<h3>
    @userProfile.FirstName @userProfile.LastName (@userProfile.UserRating)
</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
            <th>Date</th>
            <th>Rating</th>
        </tr>
    </thead>

    @foreach (var project in Model)
    {
        <tr>
            <td>
                <a href="ProjectDetails?projectId=@project.ProjectId&userId=@Request.QueryString["userId"]">@project.ProjectName</a>
                <br />
                @project.ProjectDescription
            </td>
            <td>
                @project.ModifiedDate
            </td>
            <td>
                @project.ProjectRating
            </td>
        </tr>
    }
</table>