@model Rated.Models.Project.ProjectViewModel

<h2>Project Details</h2>

<br />

<a href="#" class="btn btn-default" onclick="window.location='ProfileView?userId=@Request.QueryString["userId"]'">
    <span class="glyphicon glyphicon-arrow-left"></span>
    &nbsp;
    Back to @Model.OwnerFirstName @Model.OwnerLastName projects
</a>

<h3>@Model.OwnerFirstName @Model.OwnerLastName</h3>

<span style="font-weight:bold;font-size:23px">
    @Model.ProjectName (@Model.ProjectRating)
</span>
<br />
@Model.ProjectDescription

<br />
<br />

@foreach (var detail in Model.ProjectDetails)
{ 
    <b>@detail.DetailName</b>
    <br />
    @detail.DetailDescription
    <br />
<br />
    <span>Reviewed By:</span> 
    @detail.ReviewerFirstName @detail.ReviewerLastName
    <br />
    <br />
    @detail.ReviewerComments

    <br />
    <br />
}